@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Italianno&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f8fafc;
}
#hero-text {
  font-family: "Great Vibes", cursive;
}
